@{
    ViewBag.Title = "Student Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Student Information Portal</h1>
        <p class="lead">It's free to upload your details and it is more secure in our portal.</p>
        <p><a href=" " class="btn btn-primary btn-md">Note's </a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Steps">
            <h2 id="Steps">Steps to store your details below. </h2>
            <p>
                Once click the above student details it redirects to CRUD Operations and On that page, you update your data securely.
                <br />
                <br />
                Thanks to choose our portals and always welcomes you!!
            </p>
            <p><a class="btn btn-outline-dark">Get Start.</a></p>
        </section>
    </div>
</main>