@{
    ViewBag.Title = "Student Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Student portal</h1>
        <p class="lead">It's free to upload your details and it is more secure in our portal.</p>
        <p><a href=" " class="btn btn-primary btn-md">Note's </a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Steps">
            <h2 id="Steps">Steps to follow</h2>
            <p>
                <br />
                <ul>
                    <li>Click the above <strong><em>Student Details Creations</em></strong> button it redirect to student creation page.</li>
                    <li>Click the above <strong><em>Student Info</em></strong> button it redirects to student information pages</li>
                    <li>If you want to update your details and perform CRUD Operations mean follow the <strong><em>student Info</em></strong> page.</li>
                </ul>
                <br />
                Thanks to choose our portals and always welcomes you!!
            </p>
        </section>
    </div>
</main>